@import "../common.scss";

$time-control-bar-height: 40px;

.time-control-container {
  position: absolute;
  left: 50%;
  bottom: calc(5vh - (#{$time-control-bar-height}) / 2);
  transform: translate(-50%);
  z-index: $time-bar-z-index;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-control-bar {
  display: flex;
}

.time-control-button {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: $time-control-bar-height;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: none;

  &:disabled {
    cursor: not-allowed;
  }
}

.time-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  > div {
    > div {
      > input {
        border: none;
        border-radius: 5px;
        height: 20px;
        text-align: center;
      }
    }
  }
}

.time-step-bubble {
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  align-items: center;
}
