@import "../common.scss";

$time-control-bar-height: 40px;

.time-control-container {
  position: absolute;
  left: 50%;
  bottom: calc(5vh - (#{$time-control-bar-height}) / 2);
  transform: translate(-50%);
  z-index: $time-bar-z-index;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-control-bar {
  display: flex;
}

.time-control-button {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: $time-control-bar-height;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: none;

  &:disabled {
    cursor: not-allowed;
  }
}

.time-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  > div {
    > div {
      > input {
        border: none;
        border-radius: 5px;
        height: 20px;
        text-align: center;
      }
    }
  }
}

.time-step-bubble {
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  align-items: center;
}

// Input slider settings:

$track-color: #ffffff;
$thumb-color: #ffffff;

$thumb-radius: 9px;
$thumb-height: 18px;
$thumb-width: 18px;
$thumb-shadow-size: 4px;
$thumb-shadow-blur: 4px;
$thumb-shadow-color: rgba(0, 0, 0, 0.2);
$thumb-border-width: 1px;
$thumb-border-color: #303030;

$track-width: 100%;
$track-height: 10px;
$track-shadow-size: 1px;
$track-shadow-blur: 1px;
$track-shadow-color: rgba(0, 0, 0, 0.2);
$track-border-width: 0px;
$track-border-color: #ffffff;

$track-radius: 5px;
$contrast: 5%;

@import "input-range";
