.search-suggestion {
  background-color: white;
  height: 35px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-right: 1px solid rgb(180, 180, 180);
  border-left: 1px solid rgb(180, 180, 180);

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(180, 180, 180);
  }

  &:hover {
    background-color: rgb(214, 214, 214);
  }
}

.search-suggestion-icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-suggestion-text {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-suggestion-name {
  padding-right: 10px;
}

.search-suggestion-type {
  color: grey;
}
