* { margin: 0; padding: 0;}

body, html
{
	height:100%;
	background-color: black;
	overflow: hidden;
	font-family: 'Courier New', Courier, monospace;
}

canvas
{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	display:block;
	background-color: black;
	width: 100%;
	height: 100%;
}

#errormessage
{
	color: white;
	margin: auto;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.panel
{
	border-radius: 10px;
    margin: auto;
    padding: 10px;
	position: absolute;
	background-color: white;
	overflow-y: auto;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.panel-header
{
	text-align: center; 
	padding-bottom: 5px;
}

