@import "../../ui/common.scss";

.orbital-body {
  @include map-object();
  border-radius: 50%;
}

.planet-container {
  @include map-object-container();
  z-index: $planet-z-index;
}

.moon-container {
  @include map-object-container();
  z-index: $moon-z-index;
}
