@import "../../ui/common.scss";

@mixin orbital-body-container {
  position: absolute;
  display: flex;
}

.orbital-body {
  translate: -50% -50%;
  border-radius: 50%;
  padding: 10px;
  background-clip: content-box;
}

.planet-container {
  @include orbital-body-container();
  z-index: $planet-z-index;
}

.moon-container {
  @include orbital-body-container();
  z-index: $moon-z-index;
}
