@import "../common.scss";

$search-bar-border-radius: 10px;

.search-bar-container {
  width: 290px;
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: $search-bar-z-index;
}

.search-bar {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: $search-bar-border-radius;
  border: 1px solid rgb(180, 180, 180);
}

.search-bar-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
  background: none;
  border: none;
  font-size: 0.9em;

  &:first-child {
    border-top-left-radius: $search-bar-border-radius;
    border-bottom-left-radius: $search-bar-border-radius;
  }

  &:last-child {
    border-top-right-radius: $search-bar-border-radius;
    border-bottom-right-radius: $search-bar-border-radius;
  }
}

.search-bar-text-input {
  height: 100%;
  border: none;
  font-size: 1em;
  width: 50px;
}
