@import "../../ui/common.scss";

.text-bubble {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: $text-bubble-z-index;
  translate: -50% calc(-100% - 10px);
  max-width: 30vw;
  display: flex;
  flex-direction: column;

  &:after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    content: "";
    border-top: solid 10px white;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }
}

.prompt-button {
  align-self: flex-end;
  margin-top: 10px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 2px;
  padding: 3px;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.prompt-button-icon {
  margin-left: 5px;
}
