@import "../common.scss";

.tour-button {
  z-index: $tour-button-z-index;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: white;
  height: $tour-button-height;
  border: 1px solid grey;

  &:enabled {
    cursor: pointer;
  }
}

.tour-button-text {
  font-size: 18px;
  padding-left: 10px;
}
