@import "../common.scss";

.info-section {
  padding-top: 7px;
  padding-bottom: 7px;
}

//The content within the collaspable area
.Collapsible__contentInner {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin-left: 5px;
    li {
      margin-bottom: 10px;
    }
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding-top: 10px;
  background: white;
  cursor: pointer;

  &:after {
    content: "▼";
    position: absolute;
    right: -20px;
    top: 10px;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }
}
