$moon-z-index: 1;
$planet-z-index: 2;
$tour-button-z-index: 3;
$zoom-buttons-z-index: 3;
$time-bar-z-index: 3;
$scale-bar-z-index: 3;
$details-pane-z-index: 3;
$search-bar-z-index: 4;
$options-pane-z-index: 5;
$text-bubble-z-index: 6;
$tour-modal-z-index: 7;

$tour-button-height: 45px;
$scale-bar-height: 8px;
