.results-pane {
  height: 100%;
  width: 400px;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid rgb(214, 214, 214);
  overflow: hidden;
  padding-top: 70px;
}

.results-pane-content {
  padding-top: 150px;
}
