.button-column {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5vh;
  right: 5vh;
}

.zoom-button {
  padding: 7px;
  border: 1px solid grey;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
